{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      <input type="text" name="username" placeholder="First Name" />
      <input type="text" name="username" placeholder="Last Name" />
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Sign in with facebook</button>
      <button class="social-signin twitter">Sign in with Twitter</button>
      <button class="social-signin google">Sign in with Google+</button>
    </div>
    <div class="or">OR</div>
    <span class="reminder">Already have an account?</span>
  </div>
{% endblock content %}